body {
  background-color: #fff;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  padding-top: 40pt;
  /*padding-bottom: 100pt;*/
}

.topbar {
  color: #000;
  background-color: #fafafa;
  height: 40pt;
}

.bottombar {
  color: #fff;
  background-color: #0a0f15;
  height: 100pt;
  margin-bottom: 0;
}

.topbar .container {
  padding-top: 10pt;
  padding-bottom: 32pt;
}

.bottombar .container {
  padding-top: 24pt;
}

.topbar a,
.topbar a:hover {
  color: #000;
}

.bottombar a,
.bottombar a:hover {
  color: #fff;
}

.vertical-center {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.title {
  width: auto;
  height: 20pt;
}

.link.active {
  font-weight: bold;
}

.content {
  padding: 44pt 0;
}

.intro {
  font-family: "HelveticaNeue-Thin", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
  color: #666;
  font-size: 16pt;
}

.intro hr {
  width: 20%;
  margin-top: 20pt;
  margin-bottom: 20pt;
}

.logo {
  max-width: 62px;
  margin-bottom: 12pt;
}

.works {
  margin-top: 30pt;
}

.works > .row > div {
  padding-bottom: 6pt;
}

.works > .row > div.left {
  padding-right: 3pt;
}

.works > .row > div.right {
  padding-left: 3pt;
}

.box {
  width: 400px;
  height: 225px;
  position: relative;
}

.left .box {
  float: right;
}

.box img {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: none;
  opacity: 0;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.overlay:hover {
  opacity: 1.0;
}

.email {
  margin-top: 18pt;
}

.email a,
.email a:hover {
  color: #216ef9;
}

.profile {
  padding: 40pt 0;
}

.profile .avatar {
  margin-bottom: 15pt;
}

.profile a,
.profile a:hover {
  font-family: 'Roboto Condensed', "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
  color: #216ef9;
  font-size: 13pt;
}

.avatar {
  width: 216px;
  height: 216px;
  display: inline-block;
  border-radius: 50%;
}

.details {
  font-family: "HelveticaNeue-Thin", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
  color: #666;
  font-size: 14pt;
}

.feature {
  text-align: center;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.feature img {
  max-width: 100%;
}

.feature img.placeholder {
  width: 100%;
  height: 500px;
}

.project-nav {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20pt;
  padding-bottom: 10pt;
}

.direction {
  font-family: "HelveticaNeue-Thin", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
  color: #666;
  font-size: 14pt;
  margin: 7pt 0;
}

.direction img {
  height: 14pt;
  margin-top: -3pt;
}

.direction.left img {
  margin-right: 12pt;
}

.direction.right img {
  margin-left: 12pt;
}

.goto-project {
  font-family: 'Roboto Condensed', "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
  color: #000;
  font-size: 24pt;
}

.goto-project:hover {
  color: #216ef9;
  text-decoration: none;
}

.description {
  font-family: 'Roboto Condensed', "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
  color: #2d2d2d;
  font-size: 13pt;
  padding-top: 30pt;
  padding-bottom: 20pt;
}

.description h1 {
  font-size: 28pt;
  padding-bottom: 5pt;
}

/* vim: set ai sw=2: */
