body {
  background-color: #fafafa;
  font-family: "Helvetica Neue";
  padding-top: 60pt;
  padding-bottom: 100pt;
}

.topbar {
  color: #000;
  background-color: #d4dce0;
  height: 60pt;
}

.bottombar {
  color: #fff;
  background-color: #0a0f15;
  height: 100pt;
}

.topbar .container {
  padding-top: 18pt;
  padding-bottom: 32pt;
}

.bottombar .container {
  padding-top: 24pt;
}

.vertical-center {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.logo {
  width: auto;
  height: 24pt;
}

.link.active {
  font-weight: bold;
}

.intro {
  color: gray;
  font-size: 14pt;
  margin-top: 24pt;
}

.intro hr {
  width: 20%;
}

.works {
  margin-top: 28pt;
  margin-bottom: 24pt;
}

.works > .row > div {
  padding-bottom: 6pt;
}

.works > .row > div.left {
  padding-right: 3pt;
}

.works > .row > div.right {
  padding-left: 3pt;
}

.box {
  width: 400px;
  height: 225px;
  position: relative;
}

.left .box {
  float: right;
}

.box img {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: none;
  opacity: 0;
}

.overlay:hover {
  opacity: 1.0;
}

.email {
  margin-top: 18pt;
  color: #216ef9;
}

/* vim: set ai sw=2: */
